<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto p-2">
        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
        <li class="nav-item"><a class="nav-link" href="program.html">Program & Kurikulum</a></li>
        <li class="nav-item"><a class="nav-link" href="berita.html">Berita</a></li>
        <li class="nav-item"><a class="nav-link" href="galeri.html">Galeri</a></li>
        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="daftar.html">Daftar</a></li>
    </ul>
</div>