<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            text-align: center;

            background: #7694ca;


        }

        img {
            border-radius: 100px;
            border: 6px solid rgb(209, 0, 139);
        }
    </style>
</head>

<body>
    <img src="b7c9d6b2-b8f9-411e-9dde-639a1ddd8311.jpg" alt="" width="100px">
    <h2>Elis wakerkwa</h2>
    <p>Seorang Elis Wakerkwa adalah mahasiswa yang sedang menempuh studi di kampus kami.</p>

</body>

</html>